*.env
*.jpg
*.jpeg
*.png
*.svg
*.zip
*.gz
*.pkl
*.npy
*.npz
*.csv
*.parquet

.DS_Store
.keras
.vscode
.ivy2
.cache
.jupyter
.local
.pytest_cache
.ipython

__pycache__/

cachedir
data

node_modules
package-lock.json

.vscode
.keras
.ivy2
.cache
.jupyter
.local
.pytest_cache
.ipython

*.npy
*.zip

.gitignore
Dockerfile
Jenkinsfile

all_primitives/
annotations/
static_volumes/
datasets/
simon/
