*.env
*.jpg
*.jpeg
*.png
*.svg
*.zip
*.gz
*.pkl
*.npy
*.npz
*.csv
*.parquet

.DS_Store
.keras
.vscode
.ivy2
.cache
.jupyter
.local
.pytest_cache
.ipython

__pycache__/

cachedir
data

node_modules
package-lock.json

.vscode
.keras
.ivy2
.cache
.jupyter
.local
.pytest_cache
.ipython

*.npy
*.zip

.gitignore
Dockerfile
Jenkinsfile

d3m-env/
annotations/
datasets/
static_volumes/
test_data/
gluon-ts/
*.egg-info
nk-sent2vec/
objection-detection-retinanet/
rs_pretrained/
simon/
punk/
distil-primitives/
scratch_dir/