d3m
tslearn
statsmodels
pmdarima
hdbscan
requests
shap
gluonts
torchvision==0.5.0
scikit-image==0.16.1
albumentations
tifffile
git+https://github.com/uncharted-distil/punk@8b101eca26b5f9a3df2a65aab2733bd404965578#egg=punk
git+https://github.com/uncharted-distil/object-detection-retinanet@f02652a00b3cd81a5c37f5c34da0daaa541dffb1#egg=object_detection_retinanet
git+https://github.com/uncharted-distil/simon@9059b633765c3b5adabbfa9ac55591db3e665a2d#egg=Simon-1.2.4
git+https://github.com/uncharted-distil/nk-sent2vec@08a74ce1aff98e81eda2f3211ad7f7015bfa8124#egg=nk_sent2vec
git+https://github.com/uncharted-distil/duke@c56416e959b52ff5077c5a54c329e2f6e83bbd97#egg=duke
git+https://github.com/cfld/rs_pretrained@92d832efe1961d6a06011f689dad7ef2481a64b1#egg=rsp
pytest
pytest-icdiff
fire