d3m
tslearn
statsmodels
pmdarima
punk==3.0.0
hdbscan
requests
shap
gluonts
torchvision==0.5.0
scikit-image==0.16.1
albumentations
tifffile
git+https://github.com/uncharted-distil/object-detection-retinanet@f02652a00b3cd81a5c37f5c34da0daaa541dffb1#egg=object_detection_retinanet
git+https://github.com/uncharted-distil/simon@df0d6e149608b1a57d7ebebef661cfc04f368f94#egg=Simon-1.2.4
git+https://github.com/uncharted-distil/nk-sent2vec@08a74ce1aff98e81eda2f3211ad7f7015bfa8124#egg=nk_sent2vec
git+https://github.com/uncharted-distil/duke@c56416e959b52ff5077c5a54c329e2f6e83bbd97#egg=duke
git+https://github.com/cfld/rs_pretrained@92d832efe1961d6a06011f689dad7ef2481a64b1#egg=rsp
pytest
pytest-icdiff